@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

#bambuu {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #bambuu:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #5DADE2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #5DADE2;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #5DADE2;
}

::-moz-selection {
  color: #fff;
  background: #5DADE2;
}

::selection {
  color: #fff;
  background: #5DADE2;
}

.bambnut-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bambnut-container-ai {
  max-width: 940px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bambu-benefits {
  max-width: 1420px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bambu-container1 {
  max-width: 1420px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bambu-container2 {
  max-width: 1420px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bambu-container3 {
  max-width: 1420px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bambu-container4 {
  max-width: 1420px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.home-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 1001;
  background: #5DADE2;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
.home-nav #gtco-logo {
  font-size: 20px;
  margin: 0;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .home-nav {
    padding: 20px 0;
  }
}
.home-nav a {
  padding: 0px 10px;
  color: #000;
}
.home-nav ul {
  padding: 0;
  margin: 0;
}
.home-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.home-nav ul li a {
  font-size: 16px;
  padding: 0px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.home-nav ul li a:hover, .home-nav ul li a:focus, .home-nav ul li a:active {
  color: #f9f9f9;
}
.home-nav ul li.btn-cta a {
  color: #fff;
}
.home-nav ul li.btn-cta a:hover span {
  background: #f9f9f9;
  color: #fff;
}
.home-nav ul li.active > a {
  color: #f9f9f9 !important;
}


.chapter-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 1001;
  background: #00cc99;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
.chapter-nav #gtco-logo {
  font-size: 20px;
  margin: 0;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .chapter-nav {
    padding: 20px 0;
  }
}
.chapter-nav a {
  padding: 0px 10px;
  color: #000;
}
.chapter-nav ul {
  padding: 0;
  margin: 0;
}
.chapter-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.chapter-nav ul li a {
  font-size: 16px;
  padding: 0px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.chapter-nav ul li a:hover, .chapter-nav ul li a:focus, .chapter-nav ul li a:active {
  color: #f9f9f9;
}
.chapter-nav ul li.btn-cta a {
  color: #fff;
}
.chapter-nav ul li.btn-cta a:hover span {
  background: #f9f9f9;
  color: #fff;
}
.chapter-nav ul li.active > a {
  color: #f9f9f9 !important;
}



.stem-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 1001;
  background: #cc99ff;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
.stem-nav #gtco-logo {
  font-size: 20px;
  margin: 0;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .stem-nav {
    padding: 20px 0;
  }
}
.stem-nav a {
  padding: 0px 10px;
  color: #000;
}
.stem-nav ul {
  padding: 0;
  margin: 0;
}
.stem-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.stem-nav ul li a {
  font-size: 16px;
  padding: 0px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.stem-nav ul li a:hover, .stem-nav ul li a:focus, .stem-nav ul li a:active {
  color: #f9f9f9;
}
.stem-nav ul li.btn-cta a {
  color: #fff;
}
.stem-nav ul li.btn-cta a:hover span {
  background: #f9f9f9;
  color: #fff;
}
.stem-nav ul li.active > a {
  color: #f9f9f9 !important;
}

.ai-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 1001;
  background: #ffad33;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
.ai-nav #gtco-logo {
  font-size: 20px;
  margin: 0;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .ai-nav {
    padding: 20px 0;
  }
}
.ai-nav a {
  padding: 0px 10px;
  color: #000;
}
.ai-nav ul {
  padding: 0;
  margin: 0;
}
.ai-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.ai-nav ul li a {
  font-size: 16px;
  padding: 0px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.ai-nav ul li a:hover, .ai-nav ul li a:focus, .ai-nav ul li a:active {
  color: #f9f9f9;
}
.ai-nav ul li.btn-cta a {
  color: #fff;
}
.ai-nav ul li.btn-cta a:hover span {
  background: #f9f9f9;
  color: #fff;
}
.ai-nav ul li.active > a {
  color: #f9f9f9 !important;
}


.bambu-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 1001;
  background: #ff5050;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768px) {
  .bambu-nav {
    padding: 20px 0;
  }
}
.bambu-nav a {
  padding: 0px 10px;
  color: #000;
}
.bambu-nav ul {
  padding: 0;
  margin: 0;
}
.bambu-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.bambu-nav ul li a {
  font-size: 16px;
  padding: 0px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.bambu-nav ul li a:hover, .bambu-nav ul li a:focus, .bambu-nav ul li a:active {
  color: #f9f9f9;
}
.bambu-nav ul li.btn-cta a {
  color: #fff;
}
.bambu-nav ul li.btn-cta a:hover span {
  background: #f9f9f9;
  color: #fff;
}
.bambu-nav ul li.active > a {
  color: #f9f9f9 !important;
}

#bambnut-header .gtco-video-link a {
  color: rgba(255, 255, 255, 0.5);
}
#bambnut-header .gtco-video-link a i {
  font-size: 18px;
  top: 2px;
  position: relative;
  color: #fff;
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding-left: 3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#bambnut-header .gtco-video-link a:hover {
  color: white;
}
#bambnut-header .gtco-video-link a:hover i {
  border: 1px solid white;
}
@media screen and (max-width: 480px) {
  #bambnut-header .text-left {
    text-align: center !important;
  }
}
@media screen and (max-width: 480px) {
  #bambnut-header .btn {
    display: block;
    width: 100%;
  }
}

#bambnut-header,
#about,
.bambnut-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.bambnut-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.bambnut-cover {
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
.bambnut-cover a {
  color: #5DADE2;
}
.bambnut-cover a:hover {
  color: white;
}
.bambnut-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(35, 35, 35, 0.5);
}
.bambnut-cover > .bambnut-container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .bambnut-cover {
    height: 600px;
  }
}
.bambnut-cover .display-t,
.bambnut-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .bambnut-cover .display-t,
  .bambnut-cover .display-tc {
    height: 600px;
  }
}
.bambnut-cover.bambnut-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .bambnut-cover.bambnut-cover-sm {
    height: 400px;
  }
}
.bambnut-cover.bambnut-cover-sm .display-t,
.bambnut-cover.bambnut-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .bambnut-cover.bambnut-cover-sm .display-t,
  .bambnut-cover.bambnut-cover-sm .display-tc {
    height: 400px;
  }
}
.bambnut-cover.bambnut-cover-xs {
  height: 500px;
}
@media screen and (max-width: 768px) {
  .bambnut-cover.bambnut-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}
.bambnut-cover.bambnut-cover-xs .display-t,
.bambnut-cover.bambnut-cover-xs .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .bambnut-cover.bambnut-cover-xs .display-t,
  .bambnut-cover.bambnut-cover-xs .display-tc {
    padding: 3em 0;
    height: inherit !important;
  }
}
.bambnut-cover.bambnut-cover-xxs {
  padding: 3em 0;
}
.bambnut-cover .btn-primary {
  color: #fff !important;
}

#bambnut-header .display-tc,
#about .display-tc,
.bambnut-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#bambnut-header .display-tc h1, #bambnut-header .display-tc h2,
#about .display-tc h1,
#about .display-tc h2,
.bambnut-cover .display-tc h1,
.bambnut-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#bambnut-header .display-tc h1,
#about .display-tc h1,
.bambnut-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 59px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  #bambnut-header .display-tc h1,
  #about .display-tc h1,
  .bambnut-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
#bambnut-header .display-tc h2,
#about .display-tc h2,
.bambnut-cover .display-tc h2 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#about {
  text-align: center;
}
#about .counter {
  font-size: 25px;
  margin-bottom: 10px;
  color: #5DADE2;
  font-weight: 100;
  display: block;
}
#about .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
}
#chapter .counter {
  font-size: 25px;
  margin-bottom: 10px;
  color: #5DADE2;
  font-weight: 100;
  display: block;
}
#chapter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
}
@media screen and (max-width: 768px) {
  #about .bambnut-center-content {
    margin-bottom: 30px;
  }
}
#chapter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
  background: none !important;
  border: none !important;
}
#chapter .icon i {
  height: 70px;
}
#chapter .icon i:before {
  color: #cccccc;
  display: block;
  text-align: center;
  margin-left: 3px;
}
#about .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
  background: none !important;
  border: none !important;
}
#about .icon i {
  height: 70px;
}
#about .icon i:before {
  color: #cccccc;
  display: block;
  text-align: center;
  margin-left: 3px;
}

#bambnut-content,
#pictures,
#bambnut-bottom-foot,
.bambnut-sec {
  padding: 2em;
  clear: both;
  position: relative;
}
@media screen and (max-width: 768px) {
  #bambnut-content,
  #pictures,
  #bambnut-bottom-foot,
  .bambnut-sec {
    padding: 3em 0;
  }
}
#bambnut-content.border-bottom,
#pictures.border-bottom,
#bambnut-bottom-foot.border-bottom,
.bambnut-sec.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

.stem-extra-icons {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  float: center;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .stem-extra-icons {
    margin-bottom: 30	px;
  }
}

.stem-extra-icons p, .stem-extra-icons h3 {
  margin-bottom: 30px;
}
.stem-extra-icons h3 {
  font-size: 18px;
  color: #000;
  position: relative;
}

.stem-bar-icons {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .stem-bar-icons {
    margin-bottom: 30	px;
  }
}
.stem-bar-icons .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #cc99ff;
}
.stem-bar-icons p, .stem-bar-icons h3 {
  margin-bottom: 30px;
}
.stem-bar-icons h3 {
  font-size: 18px;
  color: #000;
  position: relative;
}

.bambnut-center-content {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .bambnut-center-content {
    margin-bottom: 30	px;
  }
}
.bambnut-center-content .icon {
  width: 90px;
  height: 90px;
  border: 1px solid #eaeaea;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.bambnut-center-content .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #5DADE2;
}
.bambnut-center-content p, .bambnut-center-content h3 {
  margin-bottom: 30px;
}
.bambnut-center-content h3 {
  font-size: 18px;
  color: #000;
  position: relative;
}

.bambnut-top-head {
  margin-bottom: 5em;
}
@media screen and (max-width: 768px) {
  .bambnut-top-head {
    margin-bottom: 3em;
  }
}
.bambnut-top-head.bambnut-top-head-sm {
  margin-bottom: 2em;
}
.bambnut-top-head h2 {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .bambnut-top-head h2 {
    font-size: 28px;
  }
}
.bambnut-top-head h2:before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 50px;
  margin-left: -25px;
  height: 2px;
  left: 50%;
  background: #5DADE2;
}
.bambnut-top-head h2.gtco-left:before {
  left: 0;
  margin-left: 0;
}
.bambnut-top-head p {
  font-size: 20px;
  line-height: 1.5;
  color: #1a1a1a;
}
@media screen and (max-width: 768px) {
  .bambnut-top-head p {
    font-size: 18px;
  }
}

#pictures {
  background: #efefef;
}
#pictures .testimony-slide {
  text-align: center;
}
#pictures .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}
#pictures .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#pictures .testimony-slide figure img {
  width: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#pictures .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 50%;
  position: relative;
  padding: 0;
}
@media screen and (max-width: 992px) {
  #pictures .testimony-slide blockquote {
    width: 100%;
  }
}
#pictures .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#pictures .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#pictures .arrow-thumb a:hover, #pictures .arrow-thumb a:focus, #pictures .arrow-thumb a:active {
  text-decoration: none;
}

#bambnut-bottom-foot .gtco-widget {
  margin-bottom: 30px;
}
#bambnut-bottom-foot .gtco-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#bambnut-bottom-foot .gtco-widget .gtco-quick-contact {
  padding: 0;
  margin: 0;
}
#bambnut-bottom-foot .gtco-widget .gtco-quick-contact li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#bambnut-bottom-foot .gtco-widget .gtco-quick-contact li i {
  width: 30px;
  float: left;
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.bambnut-TOP-GO {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.bambnut-TOP-GO.active {
  opacity: 1;
  visibility: visible;
}
.bambnut-TOP-GO a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.bambnut-TOP-GO a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.bambnut-TOP-GO a:hover, .bambnut-TOP-GO a:active, .bambnut-TOP-GO a:focus {
  text-decoration: none;
  outline: none;
}

.bambnut-navigation-bar-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.bambnut-navigation-bar-toggle.active i::before, .bambnut-navigation-bar-toggle.active i::after {
  background: #444;
}
.bambnut-navigation-bar-toggle:hover, .bambnut-navigation-bar-toggle:focus, .bambnut-navigation-bar-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.bambnut-navigation-bar-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.bambnut-navigation-bar-toggle i::before, .bambnut-navigation-bar-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.bambnut-navigation-bar-toggle.bambnut-navigation-bar-white > i {
  color: #fff;
  background: #fff;
}
.bambnut-navigation-bar-toggle.bambnut-navigation-bar-white > i::before, .bambnut-navigation-bar-toggle.bambnut-navigation-bar-white > i::after {
  background: #fff;
}

.bambnut-navigation-bar-toggle i::before {
  top: -7px;
}

.bambnut-navigation-bar-toggle i::after {
  bottom: -7px;
}

.bambnut-navigation-bar-toggle:hover i::before {
  top: -10px;
}

.bambnut-navigation-bar-toggle:hover i::after {
  bottom: -10px;
}

.bambnut-navigation-bar-toggle.active i {
  background: transparent;
}

.bambnut-navigation-bar-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.bambnut-navigation-bar-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.bambnut-navigation-bar-toggle {
  position: fixed;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .bambnut-navigation-bar-toggle {
    display: block;
  }
}

.bambnut-load-page {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #f9f9f9;
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .bambnut-navigation-bar .gtco-contact {
    text-align: left !important;
  }
}

.bambnut-navigation-bar .gtco-contact ul {
  padding: 0;
  margin: 0 0 20px 0;
}
.bambnut-navigation-bar .gtco-contact ul li {
  padding: 0;
  margin: 0;
}
.bambnut-navigation-bar .gtco-contact ul li a {
  font-size: 14px;
  font-weight: bold !important;
  margin-left: 0px;
}
.bambnut-navigation-bar .gtco-contact ul li a i {
  color: #5DADE2;
}
.bambnut-navigation-bar .gtco-contact ul li a:hover i {
  color: #fff;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -39px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: rgba(255, 255, 255, 0.5) !important;
  padding: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: rgba(255, 255, 255, 0.8) !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #5DADE2;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #5DADE2;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #5DADE2;
}

#gtco-faq {
  background: #efefef;
}

#overview {
  background: #ffffff;
}

#chapter {
  background: #efefef;
}

#officers {
  background: #ffffff;
}

#activities {
  background: #efefef;
}

#stem-bar {
  background: #f2f2f2;
}

#ib-program {
  background: #efefef;
}

#history {
  background: #ffffff;
}

#health-academy {
  background: #efefef;
}

#advanced-placement {
  background: #efefef;
}

#mass-media {
  background: #efefef;
}

#extracurriculars {
  background: #efefef;
}

#about {
  background: #efefef;
}

/*# sourceMappingURL=style.css.map */